:root {
  // 主题色
  --primary-color: #00a758;
  --shallow-primary-color: rgba(0, 167, 88, 0.1);

  // 文字色
  --title-color: #5e6073;
  --text-color: #282b3e;
  --label-desc-color: #8e90a2;
  --desc-color: #c0c1c7;

  // 背景色
  --bg-color: #fafafa;
  --gray-color: #f7f7f7;
  --search-bg: #f7f8fc;

  // 边框色
  --border-color: #e0e2eb;
  --blod-border-color: #f2f3f8;

  // 状态色
  --danger-color: #ec6453;
  --orange: #f49600;

  // 其他
  --brand-secondary: #ffd700;
  --brand-dark: #1a1a1a;
}
